{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 350px;	
		}
	</style>
{% endblock head %}

{% block meta %}
	

		<meta itemprop="image" content="{{pokemon.pokemon_image}}">

		<meta property="og:title" content="{{pokemon.pokemon_name}} Pokemon"/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
		<meta property="og:site_name" content="fathomless-garden-39911.herokuapp.com"/> 

		<meta property="og:url" content="http://fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}" />
		<meta property="article:author" content="http://facebook.com/one.saurav.tomar" />
		<meta property="article:publisher" content="https://www.facebook.com/one.saurav.tomar"/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@sauravtom" />
		<meta name="twitter:title" content="{{pokemon.pokemon_name}} Pokemon" />
		<meta name="twitter:description" content="{{pokemon.pokemon_name}} Pokemon" />
    	<meta name="twitter:text" content="foo-text" />
		<meta name="twitter:image" content="{{pokemon.pokemon_image}}" />

{% endblock meta %}


{% block content %}

<h1>You Searched for #{{pokemon.id}} {{pokemon.pokemon_name}} </h1>

<div class='row'>

	<div class='col-md-6'>	
		<img src="{{pokemon.pokemon_image}}">
	</div>

	<div class='col-md-6'>

		<a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'>	
			<button class='btn btn-success'>Share on facebook</button>
		</a>

		<a target='_blank' href='https://twitter.com/home?status=Yo Check this out http%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'>	
			<button class='btn btn-warning'>Share on twitter</button>
		</a>

		<a target='_blank' href='https://plus.google.com/share?url=http%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'>	
			<button class='btn btn-warning'>Share on G+</button>
		</a>


		<a target='_blank' href='https://www.linkedin.com/shareArticle?mini=true&url=http%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}&title=My%20Pokedex&summary=About%20Wigglypuff&source=http%3A//fathomless-garden-39911.herokuapp.com'>	
			<button class='btn btn-primary'>Share on Linkedin</button>
		</a>

		<a target='_blank' href='https://pinterest.com/pin/create/button/?url=http%3A//fathomless-garden-39911.herokuapp.com/pokemon/156/Wigglytuff&media=http%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}&description={{pokemon.pokemon_name}} Pokemon'>	
			<button class='btn btn-primary'>Share on Pinterest</button>
		</a>

		<a target='_blank' href='whatsapp://send?text=Hi there check this out http%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'>	
			<button class='btn btn-primary'>Share on whatsapp</button>
		</a>

		<a target='_blank' href='mailto:stomatrix@gmail.com?&cc=saurav@newsmeme.in&subject=Bug report &body=Hello,%20...%0A%0A%0Ahttp%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'>	
			<button class='btn btn-primary'>Send bug report</button>
		</a>
		
	</div>

</div>


{% endblock content %}





