{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 350px;	
		}
	</style>
{% endblock head %}

{% block meta %}
	

		<meta itemprop="image" content="{{pokemon.pokemon_image}}">

		<meta property="og:title" content="{{pokemon.pokemon_name}} Pokemon"/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
		<meta property="og:site_name" content="fathomless-garden-39911.herokuapp.com"/> 

		<meta property="og:url" content="http://fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}" />
		<meta property="article:author" content="http://facebook.com/one.saurav.tomar" />
		<meta property="article:publisher" content="https://www.facebook.com/one.saurav.tomar"/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@sauravtom" />
		<meta name="twitter:title" content="{{pokemon.pokemon_name}} Pokemon" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="{{pokemon.pokemon_image}}" />

{% endblock meta %}


{% block content %}

<h1>You Searched for #{{pokemon.id}} {{pokemon.pokemon_name}} </h1>
	
<img src="{{pokemon.pokemon_image}}">


{% endblock content %}





