{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 350px;	
		}
		#score{
			font-weight: bolder;
			font-size: 1000%;
		}
		.option{
			margin-right: 5px;
		}
	</style>
{% endblock head %}

{% block meta %}
	

		<meta itemprop="image" content="{{pokemon.pokemon_image}}">

		<meta property="og:title" content="{{pokemon.pokemon_name}} Pokemon"/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
		<meta property="og:site_name" content="fathomless-garden-39911.herokuapp.com"/> 
		<meta property="fb:app_id" content="1724325281176951" />

		<meta property="og:url" content="http://fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}" />
		<meta property="article:author" content="http://facebook.com/one.saurav.tomar" />
		<meta property="article:publisher" content="https://www.facebook.com/one.saurav.tomar"/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@sauravtom" />
		<meta name="twitter:title" content="{{pokemon.pokemon_name}} Pokemon" />
		<meta name="twitter:description" content="{{pokemon.pokemon_name}} Pokemon" />
    	<meta name="twitter:text" content="foo-text" />
		<meta name="twitter:image" content="{{pokemon.pokemon_image}}" />

{% endblock meta %}


{% block content %}

<div class='row'>
	<div class='col-md-4 col-md-offset-2'>
			<h3>What's the name of this pokemon ?</h3>
			<br>
			<img id='main_img' src='{{pokemon.pokemon_image}}'>
			<hr>
			{% for pokemon in pokemon_names %}
				<button class="btn btn-primary option" data='{{pokemon}}' onclick='judge(this)'>{{pokemon}}</button>
			{% endfor %}
	</div>

	<div class='col-md-3 col-md-offset-3'>
			<div id='score'>{{score}}</div>
			<br><br>
			<a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http%3A//fathomless-garden-39911.herokuapp.com/game'>	
				<button class='btn btn-success'>Share on facebook</button>
			</a>

			<br><br>

			<a target='_blank' href='https://twitter.com/home?status=I scored {{scored}} on Pokedex game http%3A//fathomless-garden-39911.herokuapp.com/game'>	
				<button class='btn btn-warning'>Share on twitter</button>
			</a>
			<br><br>

			<a target='_blank' href='https://plus.google.com/share?url=http%3A//fathomless-garden-39911.herokuapp.com/game'>	
				<button class='btn btn-warning'>Share on G+</button>
			</a>
			<br><br>

			<a id='whatsapp' target='_blank' href='whatsapp://send?text=Hi there check this out http%3A//fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'>	
				<button class='btn-lg btn-failure'>Share on whatsapp</button>
			</a>
	</div>

</div>

{% endblock content %}

{% block scripts %}

	<script type="text/javascript">
		
		function judge(e){
			console.log(e.getAttribute('data') + '={{pokemon.pokemon_name}}' );

			if (e.getAttribute('data') == '{{pokemon.pokemon_name}}'){
				console.log('correct answer');
				console.log('Now redirecting');
				//window.location.reload();
				var score = document.getElementById('score').innerHTML;
				score = parseInt(score) + 10;
				//window.location.href= '/game?score='+ score;
				
				// $.ajax({
				//   type: "POST",
				//   url: "/game/",
				//   data: {user_score: score,'csrfmiddlewaretoken': '{{ csrf_token }}' },
				//   cache: false,
				//   success: function(data){
				//      console.log(data);
				//   }
				// });

				$.post("/game/", 
					{user_score: score,'csrfmiddlewaretoken': '{{ csrf_token }}' }, 
					function(result){

				     	//console.log(JSON.stringify(result));
				     	//console.log(Object.getOwnPropertyNames(result));
				     	console.log(JSON.parse(result)[1]);
				     	$('#main_img').attr('src',JSON.parse(result)[1]);

					}
				);
			
			}
			else{
				console.log('wrong answer');
			}
		};

		function judge_old_get(e){
			console.log(e.getAttribute('data') + '={{pokemon.pokemon_name}}' );

			if (e.getAttribute('data') == '{{pokemon.pokemon_name}}'){
				console.log('correct answer');
				console.log('Now redirecting');
				//window.location.reload();
				var score = document.getElementById('score').innerHTML;
				score = parseInt(score) + 10;
				window.location.href= '/game?score='+ score;
			}
			else{
				console.log('wrong answer');
			}
		};

		function judge_old(e){
			console.log(e.getAttribute('data') + '={{pokemon.pokemon_name}}' );

			if (e.getAttribute('data') == '{{pokemon.pokemon_name}}'){
				console.log('correct answer');
				console.log('Now redirecting');
				window.location.reload();
			}
			else{
				console.log('wrong answer');
			}
		};

		
	
	</script>

{% endblock scripts %}


